<!DOCTYPE html>
<html>
    <body align="center">
    <h1 style="text-align: center; color:red;">KJSCE Attendance</h1>
        <div class="container" style="text-align:center">
            <h1 style="text-align: center; color:red;">File Sheet</h1>
            <form method="POST" action="/attpage" enctype="multipart/form-data">
            <br>
            <button type="submit" class="btn btn-default" style="text-align:center;height:30px;">VIEW SHEET</button>
            </form>
        </div>
        
    </body>
</html>